# see https://github.com/prometheus/blackbox_exporter/blob/master/CONFIGURATION.md
modules:
  coinpoet_cache_updater:
    prober: http

    # how long blackbox-exporter waits (there is another timeout in prometheus for it's probe too)
    timeout: 25s

    http:
      # Accepted status codes for this probe. List between square brackets. Defaults to 2xx.
      #valid_status_codes: []

      # The HTTP method the probe will use.
      method: GET

      # The maximum uncompressed body length in bytes that will be processed. A value of 0 means no limit.
      #
      # If the response includes a Content-Length header, it is NOT validated against this value. This
      # setting is only meant to limit the amount of data that you are willing to read from the server.
      #
      # Justing setting it to _something_ to prevent obscene extremes.
      body_size_limit: 5MB

      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: false
      # The IP protocol of the HTTP probe (ip4, ip6).
      preferred_ip_protocol: ip4 #<string> | default = "ip6"
      ip_protocol_fallback: true #<boolean> | default = true
