# don't commit the local cruft and databases that runing home assistant locally in dev can create:
/containers/home-assistant/config-home-assistant/*
# except, lets snapshot the key config files in git:
!/containers/home-assistant/config-home-assistant/*.yaml
# ...and lets keep this handy shell script to copy over the latest from home assistant
!/containers/home-assistant/config-home-assistant/*.sh
# but don't ever commit any secrets used in the config:
/containers/home-assistant/config-home-assistant/secrets.yaml

.secrets
