apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: photoprism-app
  labels:
    app: photoprism
    role: photoprism
spec:
  serviceName: photoprism
  replicas: 1
  selector:
    matchLabels:
      app: photoprism
      role: photoprism
  template:
    metadata:
      labels:
        app: photoprism
        role: photoprism
    spec:
      containers:
      # documentation : https://docs.photoprism.app/getting-started/docker-compose/
      # Also there is now https://docs.photoprism.app/getting-started/advanced/kubernetes/
      - name: photoprism
        # tags: https://hub.docker.com/r/photoprism/photoprism/tags
        image: photoprism/photoprism:231128

        # from https://docs.photoprism.app/getting-started/advanced/kubernetes/
        readinessProbe:
          # How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1.
          periodSeconds: 20
          # Number of seconds after the container has started before liveness probes are initiated
          initialDelaySeconds: 5
          httpGet:
            path: /api/v1/status
            port: 2342
        
        resources:
          limits:
            memory: "4Gi"
          requests:
            memory: "256Mi"

        ports:
          - name: web-ui
            containerPort: 2342            

        # PhotoPrism configuration via environment variables: https://docs.photoprism.app/getting-started/config-options/
        env:
        # *initial* admin password (8-72 characters)
        - name: PHOTOPRISM_ADMIN_PASSWORD
          value: __76tb!q99fpH

        # public server URL incl http:// or https:// and /path, :port is optional
        - name: PHOTOPRISM_SITE_URL
          value: "https://photos.example.com/"

        - name: PHOTOPRISM_HTTP_COMPRESSION
          value: "gzip" # improves transfer speed and bandwidth utilization (none or gzip)
        - name: PHOTOPRISM_DETECT_NSFW
          value: "false" # automatically flags photos as private that MAY be offensive (requires TensorFlow)
        - name: PHOTOPRISM_UPLOAD_NSFW
          value: "true" # allows uploads that MAY be offensive (no effect without TensorFlow)
        - name: PHOTOPRISM_ORIGINALS_LIMIT	
          value: "-1" # maximum size of media files in MB (1-100000; -1 to disable)
        
        - name: PHOTOPRISM_DATABASE_DRIVER
          value: "mysql" # use MariaDB 10.5+ or MySQL 8+ instead of SQLite for improved performance
        
        # ##############
        # MariaDB Config
        # mariadb database/host name (is changed by namePrefix kustomize transformer):
        - name: PHOTOPRISM_DATABASE_SERVER
          value: mariadb

        - name: PHOTOPRISM_DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: mariadb-creds
              key: mariadb-database
        - name: PHOTOPRISM_DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: mariadb-creds
              key: mariadb-user
        - name: PHOTOPRISM_DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-creds
              key: mariadb-password
        # /MariaDB Config
        # ##############

        # Hardware Video Transcoding (for sponsors only due to high maintenance and support costs):
        - name: PHOTOPRISM_FFMPEG_ENCODER
          # value: "intel" # FFmpeg encoder ("software" (aka "libx264"), "intel", "nvidia", "apple", "raspberry")
          # NOTE: Moving this to software. It seems TrueNAS somehow disables the GPU access. I'm not clear what's going on but tired of spending time on it.
          value: "software"
        - name: PHOTOPRISM_SPONSOR
          value: "true"

        # working dir set in the docker-compose file
        workingDir: "/photoprism"

        volumeMounts:
          # Original media files (DO NOT REMOVE)
          - mountPath: /photoprism/originals
            name: originals
          # Storage: https://docs.photoprism.app/getting-started/docker-compose/#photoprismstorage
          - mountPath: /photoprism/storage
            name: storage
          # *Optional* base folder from which files can be imported to originals
          # note this doesn't matter much other than it allows me to dump file into it on the server
          - mountPath: /photoprism/import
            name: import
          # TODO: See bleow. Doesn't work on truenas
          #- mountPath: /dev/dri
          #  name: intel-quick-sync
        
        # container-level securityContext, which has different config than pod-level securityContext: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#security-context-1
        securityContext:
          # privileged for /dev/dri access
          privileged: true

      securityContext:
        #runAsUser: 3004
        #runAsGroup: 3004
        fsGroup: 1000
        # 
        #supplementalGroups:
        #  - 107 # for GPU access, must match the host's "render" group id per https://jellyfin.org/docs/general/administration/hardware-acceleration/intel/#kubernetes
        
        # seccomp and AppArmor are explicitly unconfined in
        # docker-compose and recommended to disable in photoprism docs:
        # https://docs.photoprism.app/getting-started/docker-compose/
        seccompProfile:
          type: "Unconfined"

      # pod-level volumes:
      volumes:
        # NOTE: this also requires the PHOTOPRISM_FFMPEG_ENCODER environment variable above to be set to something other than "software"
        # NOTE: mounted this way won't allow it to mount on multiple containers. Look into a PV and PVC w/ accessmodes
        # Share hardware devices with FFmpeg and TensorFlow (optional):
        #  Intel Quick Sync hardware acceleration is in the photoprism docker-compose file:
        # I5-13600K has it: https://www.intel.com/content/www/us/en/products/sku/230493/intel-core-i513600k-processor-24m-cache-up-to-5-10-ghz/specifications.html
        #- name: intel-quick-sync
        #  hostPath:
        #    path: /dev/dri
        #    # adding BlockDevice causes K8S error 'can only use volume source type of PersistentVolumeClaim or Ephemeral for block mode'. I found some other templates indicating it was unnecessary.
        #    #type: BlockDevice

        - name: import
          hostPath:
            path: /PATCH_WITH_KUSTOMIZE # e.g /mnt/thedatapool/photos/example/import
        - name: originals
          hostPath:
            path: /PATCH_WITH_KUSTOMIZE # e.g /mnt/thedatapool/photos/example/organized-originals
        - name: storage
          hostPath:
            path: /PATCH_WITH_KUSTOMIZE # e.g /mnt/thedatapool/app-data/photoprism-example/app/storage
