scrape_configs:
  - job_name: "coinpoet_cache_metrics"
    # Why 30 minutes?
    # 5GB: max bandwidth can use in a month in neon.
    # 0.27 GB: The aprox amount used in 24hrs when using 15 minute pings from prometheus.
    # 96: The number of pings in 24 hours @ 15min (i.e. 24*4)
    # 0.0028125=(0.27/96): GB used in per ping
    # 
    # 1,777.7777777778=5/0.0028125: the number of pings we can do to make up 5GB
    # So lets say conservatively we can do only 1500 per month:
    # 
    # 43,200=24*60*30: minutes per month
    # 28.8=43,200/1500: Ping every 28.8 minutes to get ~1500 pings per month.
    # So... Lets do it every 30.
    scrape_interval: 30m    
    scrape_timeout: 30s
    metrics_path: "/ops/metrics"
    static_configs:
      - targets: ["coinpoet.com"]