apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: photoprism-app
spec:
  template:
    spec:
      containers:
      # documentation : https://docs.photoprism.app/getting-started/docker-compose/
      - name: photoprism
        env:
        # mariadb name is changed by namePrefix kustomize transformer:
        - name: PHOTOPRISM_DATABASE_SERVER
          value: oksana-mariadb:3306

        #######################
        # Configure PhotoPrism:
        #   public server URL incl http:// or https:// and /path, :port is optional
        - name: PHOTOPRISM_SITE_URL
          value: "https://photos.oksana.willeke.com/"
        - name: PHOTOPRISM_SITE_CAPTION
          value: "Oksana's Photos"
        - name: PHOTOPRISM_SITE_TITLE
          value: "Photos from Oksana"
        # meta site description
        - name: PHOTOPRISM_SITE_DESCRIPTION
          value: "Various photographs from Oksana" 
        # meta site author
        - name: PHOTOPRISM_SITE_AUTHOR
          value: "Oksana Willeke"

      # pod-level volumes:
      volumes:
        - name: import
          hostPath:
            path: /mnt/thedatapool/photos/oksana/import
        - name: originals
          hostPath:
            path: /mnt/thedatapool/photos/oksana/organized-originals
        - name: storage
          hostPath:
            path: /mnt/thedatapool/app-data/photoprism-oksana/app/storage
