apiVersion: cert-manager.io/v1
# NOTE: ClusterIssuer is NON-namespaced
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    # The ACME server URL
    server: https://acme-v02.api.letsencrypt.org/directory
    # Email address used for ACME registration
    email: scott@willeke.com
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-production-issuer-secret-key
    # Enable the HTTP-01 challenge provider
    solvers:
    # An empty 'selector' means that this solver matches all domains
    - selector: {}
      http01:
        ingress:
          # podTemplate & ingressTemplate are optional just so i can identify these odd pods if I spot them
          podTemplate:
            metadata:
              labels:
                app.activescott.com/name: cert-manager
          ingressTemplate:
            metadata:
              labels:
                app.activescott.com/name: cert-manager
