apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: plex
  namespace: plex
  labels:
    app: plex
spec:
  serviceName: plex
  replicas: 1
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      containers:
        # more plex container info at https://github.com/plexinc/pms-docker
        # tags: https://hub.docker.com/r/plexinc/pms-docker/tags/
        # release notes: https://forums.plex.tv/t/plex-media-server/30447/612
        - name: plex
          # NOTE: with subsequent 2 versions *potentially* having DVR/TV transcoding issues. See https://forums.plex.tv/t/error-4294967279/845549/3?u=activescott
          # Seen Live TV DVR freezing issues with versions: I have Plex Server version plexinc/pms-docker:1.32.4.7195-7c8f9d3b6 , plexinc/pms-docker:1.32.1.6999-91e1e2e2c , plexinc/pms-docker:1.31.1.6782-77dfff442
          image: plexinc/pms-docker:1.40.3.8555-fef15d30c

          resources:
            limits:
              # although I've not yet seen it even get close to this: https://support.plex.tv/articles/200375666-plex-media-server-requirements/
              memory: 4Gi
            requests:
              memory: 384Mi

          securityContext:
            # needed for /dev/dri device access
            privileged: true

          ports:
            # 32400:32400/tcp
            - containerPort: 8123
              protocol: TCP
            # 3005:3005/tcp
            - containerPort: 3005
              protocol: TCP
            # 8324:8324/tcp
            - containerPort: 8324
              protocol: TCP
            # 32469:32469/tcp
            - containerPort: 32469
              protocol: TCP
            # 1900:1900/udp
            - containerPort: 1900
              protocol: UDP
            # 32410:32410/udp
            - containerPort: 32410
              protocol: UDP
            # 32412:32412/udp
            - containerPort: 32412
              protocol: UDP
            # 32413:32413/udp
            - containerPort: 32413
              protocol: UDP
            # 32414:32414/udp
            - containerPort: 32414
              protocol: UDP

          env:
            # env docs at https://zwave-js.github.io/zwavejs2mqtt/#/guide/env-vars?id=environment-variables
            - name: TZ
              value: "US/Pacific"
            - name: ADVERTISE_IP
              value: http://10.1.111.20:32400/
            ###########################################################################
            # TODO: Get a new PLEX_CLAIM code when setting up new instance/config dir
            #       at https://www.plex.tv/claim/
            - name: PLEX_CLAIM
              # NOTE: these values expire every ~4 minutes and are only needed on first creation of container
              value: ""
            # Make plex run as a user recognized on the host so that the file permissions work.
            # see https://hub.docker.com/r/plexinc/pms-docker
            # and https://support.plex.tv/articles/200288596-linux-permissions-guide/
            - name: PLEX_UID
              value: "3003"
            - name: PLEX_GID
              value: "3003"

          # container-level volume mounts:
          volumeMounts:
            # Intel Quick Sync hardware acceleration for plex:
            # - https://github.com/plexinc/pms-docker#intel-quick-sync-hardware-transcoding-support
            # I5-13600K has ot: https://www.intel.com/content/www/us/en/products/sku/230493/intel-core-i513600k-processor-24m-cache-up-to-5-10-ghz/specifications.html
            #- mountPath: /dev/dri
            #  name: intel-quick-sync

            - mountPath: /config
              name: plex-config
            - mountPath: /transcode
              name: transcode
            - mountPath: /data/Audiobooks
              name: audiobooks
            - mountPath: /data/Music
              name: music
            - mountPath: /data/Movies
              name: movies
            - mountPath: /data/TV-Shows
              name: tv-shows

      # pod-level volumes:
      volumes:
        #- name: intel-quick-sync
        #  hostPath:
        #    path: /dev/dri

        - name: plex-config
          hostPath:
            path: /mnt/thedatapool/app-data/plex/config
        - name: transcode
          emptyDir:
            sizeLimit: 100Gi
        - name: audiobooks
          hostPath:
            path: /mnt/thedatapool/audio/Audiobooks
        - name: music
          hostPath:
            path: /mnt/thedatapool/audio/Music
        - name: movies
          hostPath:
            path: /mnt/thedatapool/video/Movies
        - name: tv-shows
          hostPath:
            path: /mnt/thedatapool/video/TV-Shows
